DATABASE_URL=postgresql://USER:PASSWORD@HOST:5432/DB_NAME?sslmode=require
BACKEND_PORT=3000
JWT_EXPIRES_IN=2y
TYPEORM_SYNCHRONIZE=false
ENABLE_CORS=true
CORS_ORIGINS=http://localhost:19006,http://127.0.0.1:19006
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_UPLOAD_FOLDER=zirba/expenses
